# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies and build
node_modules
dist
public
dist-ssr
*.local

# Rust build and Tauri
src-tauri
src-tauri/icons/
.Tauri.lock
src-tauri/bundled/
release/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
src/config/*
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
file.txt
firebaserc
firebase.json
extension.json
.vscode/extensions.json
.firebase/hosting.ZGlzdA.cache
.firebaserc
package-lock.json